nav.navigation
  a.navigation__link(href="/") Boilerplate Template
    .navigation__link__icon
  
  ul.navigation__list 
    li.navigation__list__item 
      a.navigation__list__link(href="/about") About