extends ../base.pug

block variables
  - var template = 'about'

block content 
  .about(data-background="#CED3DC" data-color="#161B33")
    .about__wrapper 
      .home__title=about.data.title
      .home__description=about.data.description
