extends ../base.pug

block variables
  - var template = 'about'

block content 
  .about(data-background="#CED3DC" data-color="#161B33")
    .about__wrapper 
      .about__title Typical About page
      .about__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam purus, tempor eu nisi sed, varius vehicula tortor. Curabitur dolor quam, sagittis et pretium non, ultrices sit amet nunc. Phasellus ullamcorper fermentum tortor eu vestibulum. Donec eu arcu in ante condimentum dapibus. 
