extends ../base.pug

block variables
  - var template = 'collections'

block content 
  .collections(data-background="#CED3DC" data-color="#161B33")
    .collections__wrapper 
      .collections__title Welcome on boilerplate 
      .collections__description Welcome on boilerplate 
