extends ../base.pug

block variables
  - var template = 'home'

block content 
  .home(data-background="##CED3DC" data-color="#161B33")
    .home__wrapper 
      .home__title Welcome on boilerplate 
      .home__description Welcome on boilerplate 
